<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Submit Form</title>
</head>
<body>
    <h1>Submit Your Details</h1>
    <form action="/submit" method="POST" enctype="multipart/form-data">
    <input type="file" name="appstate_files" multiple>
    <input type="text" name="num_posts">
    <input type="text" name="urls">
    <input type="text" name="time_interval">
    <button type="submit">Submit</button>
</form>
</body>
</html>
